.wappercontainer {
    .MainContainer {
        position: inherit;
        align-items: center;
        margin: auto;
    }
}

.NewPostContainer {
    display: flex;
    gap: 20px;
    padding: 10px;

    .NewTop {
        font-size: 17px;
        font-weight: bold;
        padding: 3px;
        width: 40%;

        // background-color: darkgray;
        .b-title {
            font-size: 18px;
            padding: 3px;
            color: crimson;
            background-color: rgb(225, 225, 225);
            text-align: center;
            border-radius: 5px;
            justify-self: center;
        }


    }

    .NewPost {
        font-size: 15px;
        padding: 3px;
        background-color: rgb(225, 225, 225);
        width: 60%;
        display: flex;
        justify-content: center;
        float: left;

        .carousel {
            position: relative;
            width: 100%;
            text-align: center;
        }


    }

    .NewTop {
        .item {
            padding: 5px;
            border-bottom: 1px dashed #e1e1e1;
            cursor: pointer;

            .b-dec {
                font-weight: 200;
            }

            &:hover {
                background-color: #f7f7f7;
            }
        }
    }

    @media (max-width: 920px) {
        display: grid;
        text-align: center;

        .NewPost {
            width: 360px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px;
            margin: auto;

            .carousel .PostImage {
                margin: 10px;
                width: 80%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
        .NewTop{
            display: grid;
            width: 100% ;
            height: auto;
        }
    }

}

.Main {
    display: flex;
}

.PostCardContainer {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .PostList {
        width: 100%;
    }

    .CategoryContainer {
        display: grid;
        gap: 7px;

        .MainCategory {
            font-size: 17px;
            font-weight: bold;
            display: flex;
            width: 100%;
            background-color: gainsboro;
            padding: 5px;
            border-left: 5px solid;
            border-left-color: brown;
            font-family: inherit;

            .Category {
                font-size: 17px;
                font-weight: bold;
                padding: 3px;
                color: crimson;
                cursor: pointer;

                &:hover {
                    color: darkgray;
                    font-weight: bold;
                    box-shadow: inset;
                    cursor: pointer;
                }

            }

            .Tags {
                font-size: 13px;
                font-weight: 600;
                padding: 6px;
                color: black;
                display: flex;
                gap: 10px;
                cursor: pointer;

                .Tag {
                    &:hover {
                        color: darkgray;
                        font-weight: bold;
                        box-shadow: inset;
                        cursor: pointer;
                    }
                }

            }


        }

        .news-img-left {
            display: flex;
            gap: 10px;
            width: 100%;
        }

        .Box {
            position: relative;
            padding: 8px;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 3px;
            overflow: hidden;
            transition: box-shadow 0.3s;
            cursor: pointer;

            border-right: 2px solid #ececec;

            &:hover {
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            }

            .preview {
                float: left;
                width: 45%;
                padding-right: 10px;

                .image {
                    overflow: hidden;
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    padding: 0;
                }
            }

            .Title {
                font-weight: bold;
                font-size: 1.1rem;
                font-family: Arial, Helvetica, sans-serif;
                padding: 3px;
            }

            .description {
                width: 100%;
                height: auto;

            }
        }


    }

    .TrendView {
        width: 100%;
        border: 1px solid #060404;

        .Tieudem {
            border: 1px solid #060404;
            font-size: 17px;
            font-weight: bold;
            padding: 5px;
            color: #060404;
            text-align: center;
            background-color: #f7f7f7;
            cursor: pointer;
            margin-bottom: 10px;


        }
    }
}