.containerPage{
    padding: 10px 20px;
}

.Title {
    display: flex;
    padding: 5px;
    background: white;
    border-radius: 8px;

    .b-Title {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
}


.container{
    padding: 10px 15px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
